<meta charset="utf-8">
<title>{{ page.title }} | WSoft MDP</title>
<link rel="stylesheet" href="/WSoft-Dev-Blog/style/main.css">
<link rel="stylesheet" href="/WSoft-Dev-Blog/style/bootstrap.css">
<link rel="stylesheet" href="/WSoft-Dev-Blog/style/highlight/dracula.css">
<script src="/WSoft-Dev-Blog/script/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/WSoft-Dev-Blog/script/jquery-3.4.1.min.js"></script>
<script src="/WSoft-Dev-Blog/script/popper.min.js"></script>
<script src="/WSoft-Dev-Blog/script/bootstrap.min.js""></script>